# Web framework
fastapi==0.95.2
uvicorn[standard]
python-multipart
jinja2
pydantic==1.10.13
python-dotenv

# ML core
numpy
pandas
scikit-learn==1.2.2
joblib
xgboost
lightgbm
catboost

# DL
torch>=2.0.1
torchvision
tensorflow==2.15.0
keras==2.15.0

# NLP
spacy==3.4.4
scispacy==0.5.1
en-core-sci-sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz
nltk

# Imaging
opencv-python
pillow
imageio
scikit-image
albumentations

# Medical imaging
pydicom
SimpleITK
nibabel

# Explainability & viz
shap
lime
plotly
matplotlib
seaborn
dash

# UI
streamlit

# Utility
tqdm
requests
loguru
rich
httpx

# Dev
pytest
