# === Web API ===
fastapi==0.95.2
uvicorn[standard]>=0.22.0
python-multipart
jinja2
pydantic==1.10.13
python-dotenv

# === Data & ML ===
numpy>=1.23.5,<1.27
pandas>=1.5.3,<2.3
scikit-learn==1.2.2
joblib
xgboost>=1.7.0
lightgbm>=3.3.0
catboost>=1.2.3
mlxtend

# === Deep Learning ===
torch>=2.0.1
torchvision>=0.15.2
tensorflow==2.15.0
keras==2.15.0

# === NLP ===
spacy==3.4.4
scispacy==0.5.1
en-core-sci-sm @ https://s3-us-west-2.amazonaws.com/ai2-s2-scispacy/releases/v0.5.1/en_core_sci_sm-0.5.1.tar.gz
nltk>=3.8.1

# === Vision ===
opencv-python>=4.7.0
pillow
imageio
scikit-image
albumentations

# === Med Imaging ===
pydicom
SimpleITK
nibabel

# === Explainability & Viz ===
shap
lime
plotly
matplotlib
seaborn

# === UI ===
streamlit

# === Utility ===
tqdm
requests
loguru
rich
httpx

# === Dev ===
pytest
